<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="holder">
      WELCOME
    </div>
  <form>
      <button type="button" id="btn"> HELLO </button>
  </form>
  <div id="holder2">
    WELCOME
  </div>
</ul>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      // her brukes et rammeverk kalt axios som hjelper oss med å be om respons fra server
    var button = document.querySelector('#btn');
    var holder = document.querySelector('#holder');
   
    update_html = async() => { // async gjør at koden venter på at respons fra server er motatt
      axios.get('/api', { // request til serveren /api
        })
        .then(function (response) {
          // hele responsen fra server
          console.log(response);

          // 
          console.log(response.data);

          //setter html innhold til en div med id 'holder' 
          document.querySelector('#holder').innerHTML = response.data;  
        })
        .catch(function(error){
          console.log(error);
        });
      }

    button.addEventListener('click', async event => {
      //event.preventDefault();
      //const title = document.querySelector('#holder').innerHTML = main()
      //var test = await update_html();
      update_html(); // kjører update_html funksjon
      //console.log("test: ", Object.keys(test));
      //response.json({message: "Request received!", data: test});
     // document.querySelector('#holder2').innerHTML = test;
    });



    async function main() {
        const data = await update_html();
        
        console.log('main done: ', data);
    }

   // main();


    const test = async function (){
      // do something here
      console.log('async func test ran');
    }

    test();
    
    /*
    update_html()
      .then(data => {
          response.json({ message: 'Request received!', data })
      })
      .catch(err => console.log(err))
    */



    
    /*
    button.addEventListener("click", change_text)
    

    function change_text() {
      axios_test()
        .then(data => {
          response.json({ message: 'Request received!', data })
          })
        .catch(err => console.log(err))



      var data = axios_test();
      console.log(data);
      holder.innerHTML = data;
    }
    */
    </script>
    

  </body>
</html>
