<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>title</h1>
    <p>Welcome to <%= data %></p>
    
    <h2>Variable</h2>
    <p></p>

    <ul>
      <% data.forEach(function(d) { %>
        <li>
          <strong><%= d.text %></strong>
        </li>
      <% }); %>
    </ul>
  
  
  </body>
</html>
