<!DOCTYPE html>
<html>
  <head>
    <title>MySQL Data</title>
  </head>
  <body>
    <h1>MySQL Data</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item) => { %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>



